<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et omnis doloribus illum nam sit, quasi rem nisi non magni debitis! Dolor commodi impedit doloribus nesciunt obcaecati nihil nemo temporibus tempore.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="https://media.vandal.net/i/640x360/3-2019/2019349474229_1.jpg" alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vero dolorum, quos nisi molestiae non delectus debitis nemo est vel voluptatibus fugiat, explicabo at amet nobis obcaecati in voluptate maxime?
    </ion-card-content>
  </ion-card>
</ion-content>
